<div class="row mt-header">
    <div class="row">
        <section class="col-md-10 offset-md-1">
            <h3>Servicios Ofrecidos</h3>
            <div class="card" style="width:400px">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </section>
    </div>

    <div class="row" *ngIf="loginService.userLoggedIn && (loginService.userIsAdministrador || loginService.userIsAdministrativo)">
        <div class="col-md-8 offset-md-2">

        </div>
    </div>
</div>