<div class="container-fluid  text-center footer text-white">
    <div class="row">
        <div class="col-12 mt-2">
            <a href="https://www.facebook.com/Programacion-Y-Servicios-Web-Fi-111432347291522" target="_blank"><i class="fab fa-facebook-square fa-2x mr-2"></i></a>
            <a href="https://www.facebook.com/Programacion-Y-Servicios-Web-Fi-111432347291522" target="_blank"> <i class="fab fa-instagram-square fa-2x mr-2"></i></a>
            <a href="https://www.facebook.com/Programacion-Y-Servicios-Web-Fi-111432347291522" target="_blank"><i class="fab fa-twitter-square fa-2x mr-2"></i></a>
        </div>
    </div>
    <h5>Programacion y Servicios Web</h5>
    <p>Desarrollado por Grupo 11</p>
</div>