<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Obra Social</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['home']">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['servicio']">Servicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Afiliado</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <a class="btn btn-outline-primary my-2 my-sm-0" [routerLink]="['login']">Iniciar Sesion</a>
            </form>
        </div>
    </div>
</nav>