<nav class="navbar navbar-expand-md navbar-dark fixed-top fondo ">

    <a class="navbar-brand" [routerLink]="['home']"><img src="../../../assets/img/logo_osmedica_footer-12.png" width="100" height="50" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link animation" [routerLink]="['home']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link animation" [routerLink]="['servicio']">Servicios</a>
            </li>
            <li class="nav-item" *ngIf="loginService.userLoggedIn">
                <a class="nav-link animation" [routerLink]="['novedad']">Novedad</a>
            </li>
            <li class="nav-item" *ngIf="loginService.userLoggedIn && loginService.userIsAdministrador">
                <a class="nav-link animation" [routerLink]="['usuario']">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link animation" [routerLink]="['afiliado']" *ngIf="loginService.userLoggedIn && (loginService.userIsAdministrador || loginService.userIsAdministrativo)">Afiliados</a>
            </li>
            <li class="nav-item" *ngIf="loginService.userLoggedIn">
                <a class="nav-link animation" [routerLink]="['pago']" *ngIf="loginService.userLoggedIn && (loginService.userIsAdministrador || loginService.userIsAdministrativo)">Pagos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link animation" [routerLink]="['contacto']">Contacto</a>
            </li>
        </ul>

        <form class="form-inline mt-2 mt-md-0">
            <a class="btn btn-outline-light my-2 my-sm-0 efectoLogin" *ngIf="!loginService.userLoggedIn" [routerLink]="['login']">
                Iniciar Sesion <i class="fas fa-sign-in-alt"></i></a>

            <div class="collapse navbar-collapse d-block d-sm-block d-md-none" id="navbar-list-4" *ngIf="loginService.userLoggedIn">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item disabled"> {{loginService.userLogged.usuario}}</a>
                            <a class="dropdown-item disabled"> {{loginService.userLogged.perfil}}</a>
                            <a class="dropdown-item" [routerLink]="['login']" (click)="logout()">Cerrar Sesion</a>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</nav>