<!-- MODAL PARA CARGAR EL PAGO -->
<!-- Modal Agregar Pago-->
<div class="modal fade" id="modalAgregarPago" tabindex="-1" role="dialog" aria-labelledby="modalAgregarPago"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" #formAgregarPago="ngForm">

                    <!-- dni afiliado -->
                    <div class="form-group">
                        <label>DNI del afiliado:</label>
                        <input type="number" name="dniSocio" class="form-control" [(ngModel)]="dniAfiliado" required
                            #dniAfil="ngModel" (ngModelChange)="comprobarAfiliado()">
                    </div>
                    <div *ngIf="dniAfil.dirty || dniAfil.touched">
                        <div *ngIf="!pago.afiliado" class="text-danger">
                            DNI no registrado
                        </div>
                        <div *ngIf="pago.afiliado" class="text-success">
                            DNI Correcto
                        </div>
                    </div>

                    <!-- fecha
                <div class="form-group">
                    <label>Correspondiente a la fecha:</label>
                    <input type="date" class="form-control" name="fecha" [(ngModel)]="pago.fecha" required>
                </div>
                -->

                    <!-- Corresponde al año -->
                    <div class="form-group">
                        <label>Correspondiente al AÑO:</label>
                        <input type="number" class="form-control" name="anio" [(ngModel)]="pago.anio" required>
                    </div>

                    <!-- Corresponde al Mes -->
                    <div class="form-group">
                        <label>Correspondiente al MES:</label>
                        <select id="mesModal" name="mesModal" class="form-control" [(ngModel)]="pago.mes"
                            #mesModal="ngModel" required>
                            <option value="" disabled selected>Seleccione el Mes</option>
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>

                    <!-- Monto -->
                    <div class="form-group">
                        <label>La cantidad de:</label>
                        <input type="number" class="form-control" name="monto" [(ngModel)]="pago.monto" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="limpiarPago()">Cancelar</button>
                <button type="button" class="btn btn-primary" *ngIf="pago._id == null"
                    [disabled]="formAgregarPago.invalid || pago.afiliado == null" data-dismiss="modal"
                    (click)="agregarPago()">Agregar</button>
                <button type="button" class="btn btn-primary" *ngIf="pago._id != null" data-dismiss="modal"
                    [disabled]="formAgregarPago.invalid || pago.afiliado == null"
                    (click)="actualizarPago()">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmacion-->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel">Solicitud de confirmación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Seguro que desea ELIMINAR este pago?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="limpiarPago()">No</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="eliminarPago()">Si</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Buscar pago-->
<div class="modal fade" id="modalBuscar" tabindex="-1" role="dialog" aria-labelledby="modalBuscar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBuscar"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="busqueda" id="exampleRadios1"
                            value="porFecha" checked [(ngModel)]="tipoBusqueda">
                        <label class="form-check-label" for="exampleRadios1">
                            Busqueda por Fechas.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="busqueda" id="exampleRadios2" value="porDni"
                            [(ngModel)]="tipoBusqueda">
                        <label class="form-check-label" for="exampleRadios2">
                            Busqueda por DNI de un socio.
                        </label>
                    </div>
                </div>
                <div *ngIf="tipoBusqueda == 'porFecha'">
                    <div>
                        Selecciones un rango de fechas para la busqueda.
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="fechaInicioInput">Desde:</label>
                            <input type="date" id="fechaInicioInput" class="form-control" name="fechaInicio"
                                [(ngModel)]="fechaInicio" required>
                        </div>
                        <div class="form-group">
                            <label for="fechaFinInput">Hasta</label>
                            <input type="date" id="fechaFinInput" class="form-control" name="fechaFin"
                                [(ngModel)]="fechaFin" required>
                        </div>
                    </form>
                </div>
                <div *ngIf="tipoBusqueda == 'porDni'">
                    <div>
                        Ingrese el DNI de un socio.
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="dniInput">N° de DNI</label>
                            <input type="number" id="dniInput" class="form-control" name="dniSocio"
                                [(ngModel)]="dniBusqueda" required>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="limpiarFechas()">Cancelar</button>
                <button *ngIf="tipoBusqueda == 'porFecha'" type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="filtrarPorFechaFront()">Buscar</button>
                <button *ngIf="tipoBusqueda == 'porDni'" type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="filtrarPorDniFront()">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-header fondoContenido pb-4">
    <div class="col-sm-12 col-md-10 offset-md-1">
        <div class="mt-1">
            <h3 class="text-left my-3 font-weight-bolder badge badge-danger">SECCIÓN ADMINISTRATIVA</h3>
        </div>
        <div class="d-md-flex my-3 separadorTituloP">
            <h3 class="flex-md-grow-1 tituloPrincipal text-center p-2 mb-2">Gestión de Pagos</h3>
        </div>
        <div class="row">
            <!--Boton Agregar Usuario-->
            <div class="col-12">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregarPago">
                    <i class="fas fa-plus"></i> Nuevo Pago
                </button>
                <button type="button" class="btn btn-warning ml-2" (click)="generarPDF()">
                    <i class="far fa-file-pdf"></i> Imprimir
                </button>
                <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#modalBuscar" *ngIf="!filtrado">
                    <i class="fas fa-search"></i> Buscar
                </button>
                <button type="button" class="btn btn-primary ml-2" (click)="cargarListaPagos()" *ngIf="filtrado">
                     Ver Todo
                </button>

                <!--Data Table de Pago-->
                <div class="table-responsive bg-light mt-3">
                    <table class="table table-striped table-hover" [mfData]="listaPagos" #mf="mfDataTable" [mfRowsOnPage]="5">
                        <thead class="thead-dark">
                            <tr>
                                <th style="width: 30%">
                                    <mfDefaultSorter by="fecha">Fecha de pago</mfDefaultSorter>
                                </th>
                                <th style="width: 20%">
                                    <mfDefaultSorter by="monto">Monto</mfDefaultSorter>
                                </th>
                                <th style="width: 10%">
                                    <mfDefaultSorter by="anio">Año</mfDefaultSorter>
                                </th>
                                <th style="width: 10%">
                                    <mfDefaultSorter by="mes">Mes</mfDefaultSorter>
                                </th>
                                <th style="width: 10%">
                                    <mfDefaultSorter by="dni">DNI Afiliado</mfDefaultSorter>
                                </th>
                                <th style="width: 20%" *ngIf="loginService.userIsAdministrador">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!mf.data.length" class="table-secondary">
                                <td [attr.colspan]="6" class="text-center">No se encontraron Pagos.</td>
                            </tr>
                            <tr *ngFor="let p of mf.data">
                                <td>{{p.fecha | date: 'dd/MM/yyyy'}}</td>
                                <td>{{p.monto | currency:'$ ':true:'1.1-2'}}</td>
                                <td>{{p.anio}}</td>
                                <td>{{p.mes | mes}}</td>
                                <td>{{p.afiliado.dni}}</td>
                                <td *ngIf="loginService.userIsAdministrador">
                                    <button class="btn btn-danger mr-1" (click)="cargarPago(p)" data-toggle="modal"
                                    data-target="#confirmModal"><i
                                            class="far fa-trash-alt"></i></button>

                                    <button class="btn btn-warning" data-toggle="modal"
                                        data-target="#modalAgregarPago" (click)="cargarPago(p)"><i class="fas fa-edit"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>