/* You can add global styles to this file, and also import other style files */
html {
    min-height: 100%;
    position: relative;
}

body {
    background-image: url(assets/img/fondo4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mt-header {
    margin-top: 6rem;
}

.blue {
    background-color: #0073b1;
    color: white;
}

b:hover {
    background-color: #0e8dd6;
}