/* You can add global styles to this file, and also import other style files */

.mt-header {
    margin-top: 5rem;
}

.blue {
    background-color: #0073b1;
    color: white;
}

b:hover {
    background-color: #0e8dd6;
}